.inbox-wrapper {
    padding: 20px;
    font-family: 'Manrope', sans-serif;
}

.messages-wrapper {
    background-color: var(--third-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: var(--fourth-color);
}

.message-details-card {
    background-color: var(--fourth-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.message-details-card h5 {
    font-family: 'Archivo', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.message-details-card p, .message-details-card h6 {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
}

.message-content {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    font-size: 16px;
    background-color: var(--fourth-color);
    margin-bottom: 10px;
}

.no-message-selected {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    color: gray;
}

.inbox-wrapper button.btn-primary, .inbox-wrapper button.btn-success, .inbox-wrapper button.btn-danger {
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-right: 10px;
    padding: 10px 20px;
    border-radius: .3rem;
    color: var(--fourth-color);
}

.modal-content {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: var(--fourth-color);
}

.modal-header, .modal-footer {
    border: none;
    padding: 20px;
    background-color: var(--third-color);
    border-radius: 10px 10px 0 0;
    color: var(--fourth-color);
}

.modal-header .modal-title {
    font-family: 'Archivo', sans-serif;
    font-size: 24px;
}

.modal-body {
    padding: 20px;
}

.modal-footer .btn {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-right: 10px;
    padding: 10px 20px;
    border-radius: .3rem;
    color: var(--fourth-color);
}

@media (max-width: 768px) {
    .inbox-wrapper {
        padding: 10px;
    }

    .messages-wrapper {
        padding: 10px;
        margin-bottom: 10px;
    }

    .message-details-wrapper {
        padding: 10px;
    }

    .message-details-card {
        padding: 10px;
    }

    .message-details-card h5 {
        font-size: 20px;
    }

    .message-details-card p, .message-details-card h6 {
        font-size: 14px;
    }

    .message-content {
        padding: 10px;
        font-size: 14px;
    }

    .modal-content {
        padding: 10px;
    }

    .modal-header, .modal-footer {
        padding: 10px;
    }

    .modal-body {
        padding: 10px;
    }

    .modal-footer .btn {
        padding: 5px 10px;
        font-size: 12px;
    }

    .inbox-wrapper button.btn-primary,
    .inbox-wrapper button.btn-success,
    .inbox-wrapper button.btn-danger {
        font-size: 12px;
        padding: 8px 16px;
        margin-right: 5px;
    }
}

@media (max-width: 576px) {
    .inbox-wrapper {
        padding: 5px;
    }

    .messages-wrapper {
        padding: 5px;
        margin-bottom: 5px;
    }

    .message-details-wrapper {
        padding: 5px;
    }

    .message-details-card {
        padding: 5px;
    }

    .message-details-card h5 {
        font-size: 18px;
    }

    .message-details-card p, .message-details-card h6 {
        font-size: 12px;
    }

    .message-content {
        padding: 5px;
        font-size: 12px;
    }

    .modal-content {
        padding: 5px;
    }

    .modal-header, .modal-footer {
        padding: 5px;
    }

    .modal-body {
        padding: 5px;
    }

    .modal-footer .btn {
        padding: 3px 5px;
        font-size: 10px;
    }

    .inbox-wrapper button.btn-primary,
    .inbox-wrapper button.btn-success,
    .inbox-wrapper button.btn-danger {
        font-size: 10px;
        padding: 6px 12px;
        margin-right: 3px;
    }
}